.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

h1 { font-size: 2rem !important; }
h2 { font-size: 1.5rem !important; }

p {
  line-height: 1.5; /* This is a multiplier of the font size */
}
